.timeline {
  width: 100%;
}

.timeline h2 {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
}

.timeline-content {
  width: 100%;
  min-height: 400px;
}

.empty-timeline {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  color: #a0a0a0;
  font-size: 1rem;
}

